/* global */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: light;
    background-color: #F1EAC2;
    color: #2F3246;

}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    color: #112C44;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: #171414;
    font-size: 1.0rem;
    color: #112C44;
}

a{
    color: #2F3246;
    text-decoration: none;
    border: 1px transparent #595E48;
    border-radius: 3px;
    padding: 3px;
}

p{
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin:0;
}

p + ul {
    margin-top: -5px;
}

hr {
    border: 0;
    height: 5px;
    border-radius: 3px;
    background: #292928;
    background-image: linear-gradient(to right, #F1EAC2, #2F3246);
}

/* section 1 */
.section-1{
    padding-top: 10vh;
    text-align: center;
}

/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 70%;
}

/* animations / utilities */
a:hover{
    color: #464C58;
    cursor: pointer;
    transition: 0.3s;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
