@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500');
@import url('https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:ital,wght@0,400;1,600');


/* slant and left right columns */
.left {
    position: relative;
    float: left;
    min-width: fit-content;
    height: 100%;
    min-height: 120vh;
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 8vw;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40vw;
    background-color: #082108;
    clip-path: polygon(0 0, 100% 0, 71% 100%, 0 100%);
}

.left-textbox {
    text-align: center;
    min-width: fit-content;
}

.right {
    position: absolute;
    float: right;
    padding-left: 52vw;
    padding-top: 5vh;
}


/* page container and mobile view */
.page-container {
    display: flex;
}

@media (max-width: 800px) {
    .page-container {
        flex-direction: column;
    }
    .left {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 8vh;
        min-height: fit-content;
    }
    .right {
        position: relative;
        padding-left: 1vw;
        height: 0;
        min-height: fit-content;
    }
}
  

/* decorator image */
img {
  border-radius: 50%;
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* formatting and colors */
body{
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: light;
    background-color: #F2F1E1;
    color: #18161B;

}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #F2F1E1;
    text-shadow: 0px 0px 9px #2F3540;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #F2F1E1;
    font-size: 1.2rem;
    font-weight: 300;
}

a{
    color: #2F3246;
    text-decoration: none;
    border: 1px transparent #595E48;
    border-radius: 3px;
    padding: 3px;
}

p{
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin:0;
}

p + ul {
    margin-top: -5px;
}

hr {
    border: 0;
    height: 1px;
    border-radius: 1px;
    background: rgb(8,33,8);
    background: linear-gradient(90deg, rgba(8,33,8,1) 0%, rgba(242,241,225,1) 73%);
}

.btn {
    position: sticky;
  
    display: inline;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #a6a59a;
    
    background-color: #082108;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #fffeed;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #2A6641;
    color: white;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 8px 16px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

.special {
    background-color: #2A6641 !important;
    font-weight: 600;
}

.special:hover, .special:focus {
    background-color: #082108 !important;
}

.subtle {
    color: #708069;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}