@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


/* slant and left right columns */
.left {
    position: relative;
    float: left;
    min-width: fit-content;
    height: 100%;
    min-height: 500px;
    padding-top: 1vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40vw;
    /*background-image: url("left_bg_pattern.png");
    background-repeat: repeat;*/
    background-color: #445845;
    clip-path: polygon(0 0, 100% 0, 71% 100%, 0 100%);
}

.left-textbox {
    padding-right: 6vw;
    text-align: right;
    min-width: fit-content;
}

.right {
    position: absolute;
    float: right;
    padding-left: 42vw;
    padding-top: 5vh;
}


/* page container and mobile view */
.page-container {
    display: flex;
}

@media (max-width: 800px) {
    .page-container {
        flex-direction: column;
    }
    .left {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        width: 100vw;
        padding-bottom: 4vh;
        min-height: fit-content;
    }
    .right {
        position: relative;
        padding-left: 1vw;
        height: 0;
        min-height: fit-content;
    }
}
  

/* formatting and colors */
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: light;
    background-color: #F2F1E1;
    color: #2F3540;

}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #F2F1E1;
    text-shadow: 0px 0px 9px #2F3540;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #F2F1E1;
    font-size: 1.2rem;
    font-weight: 300;
}

a{
    color: #2F3246;
    text-decoration: none;
    border: 1px transparent #595E48;
    border-radius: 3px;
    padding: 3px;
}

p{
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin:0;
}

p + ul {
    margin-top: -5px;
}

hr {
    border: 0;
    height: 5px;
    border-radius: 3px;
    background: #292928;
    background-image: linear-gradient(to right, #2F3540, #EEF1DA);
}

.btn {
    position: sticky;
  
    display: inline;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #a6a59a;
    
    background-color: #2F3540;
    font-family: 'Ubuntu';
    color: #fffeed;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #A0CDA8;
    color: white;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 8px 16px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

.subtle {
    color: #d9d8ca;
    display: inline-block;
    font-family: 'Ubuntu';
    font-weight: 300;
}